body {

    font-family: Arial, sans-serif;
    background-color: pink;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-registrar {
    background-color: #f06292;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-registrar:hover {
    background-color: #c74175;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
