body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd1dc;
}

header {


    background-color: darkmagenta;
    color: white;
    padding: 30px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    #inscripcion {
        text-align: center;
    }
    padding: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    margin-bottom: 20px;
}
.error {
    border: 1px solid red;
}
form {
    width: 300px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: deeppink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: blueviolet;
    transform: scale(1.30);
}


#home {
    display: grid;
    place-items: center;
}

#home img {
    max-width: 100%;
    height: auto;
}





